In [4]:
import pandas as pd
import pandas_datareader.data as web
import datetime as dt

In [5]:
start = dt.datetime(2010, 1, 1)
end = dt.datetime.now()
df = web.DataReader('NOC', 'yahoo', start, end)

In [6]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-01-04,51.382046,50.686352,50.686352,51.363976,1616100.0,40.374580
2010-01-05,51.906075,51.228451,51.228451,51.454327,1859800.0,40.445595
2010-01-06,51.698269,51.129066,51.318802,51.653095,2204900.0,40.601841
2010-01-07,52.366859,51.246521,51.427219,52.186161,4750900.0,41.020855
2010-01-08,52.493351,51.635025,51.833794,51.897041,1723700.0,40.793591
...,...,...,...,...,...,...
2020-08-21,339.130005,336.440002,337.299988,337.859985,440800.0,337.859985
2020-08-24,344.510010,338.410004,338.700012,344.420013,416700.0,344.420013
2020-08-25,345.070007,341.450012,345.000000,343.000000,454600.0,343.000000
2020-08-26,342.880005,338.019989,341.500000,341.410004,607200.0,341.410004
2020-08-27,348.089996,342.059998,343.459991,346.643005,201300.0,346.643005